<% layout('layouts/boilerplate') %>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar (Left) -->
    <%- include('../partials/products/sidebar') %>

    <!-- Main content -->
    <main class="col-md-7 ms-sm-auto col-lg-7 px-md-4">
      <h1>Utang</h1>
    </main>
  </div>
</div>
